.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cards {
  background-color: black;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
  margin: 1rem;
  position: relative;
}
.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  padding: 1rem;
  color: white;
}
.cards img {
  object-fit: cover;
  height: 20rem;
  border-radius: 0.5rem;
  width: 45rem;
  height: 25rem;
  filter: grayscale(0%);
}
.cards img:hover {
  filter: grayscale(100%);
}
.card-over {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.7s ease-in-out;
}
.cards:hover .card-over {
  transform: translateY(0%);
}
